*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.wrapper
{
    min-height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#crud 
{
    width: 90%;
    
    text-align: center;
}
#crud caption
{
    background-color: #5C3507;
    color: #fff;
    padding: 10px 0;
    font-size: 1.5rem;
}
#crud thead
{
    background-color:aliceblue;
   
}
#crud thead td
{
    padding: 10px;
    color: #5C3507;
}
#crud tbody td
{
    padding: 10px;
    border-bottom: 1px solid #5C3507;
    color: #302929;
}
#crud tbody td button,.add-user
{
    padding: 5px 7px;
    border:none;
    background: transparent;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: .9rem;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    background-color:#5C3507;

}
#crud tbody td button.edit
{
    background-color:#5C3507;
}
#crud tbody td button.delete
{
    background-color:#e91e25;
}
.add-user
{
    background-color: #5C3507;
   margin-top: 20px;
   padding: 10px 20px;
}
button.add-category{
    padding: 5px 7px;
    border:none;
    background: transparent;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: .9rem;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    background-color:#5C3507;
}
.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.popup.active {
    opacity: 1;
    pointer-events: auto;
}

.popup form {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* @keyframes show
{   0%
    {
        transform: translateY(-100%);
    }
    100%
    {
        transform: translateY(0);
    }
} */

.popup form input
{
    width: 100%;
    background-color: transparent;
    border:none;
    box-shadow: inset 0 0 2px rgba(0,0, 0,.4);
    margin: 15px 0;
    padding: 12px 15px;
    font-size: 1.1rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
   
}
.popup form button
{
    padding: 5px 7px;
    border:none;
    background: transparent;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: .9rem;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    background-color:#5C3507;
}